@use "sass:color";

$background: #121318;

$blue: #aec6ff;

$blue_container: #2c4678;

$blue_source: #89b4fa;

$blue_value: #89b4fa;

$error: #ffb4ab;

$error_container: #93000a;

$green: #91d5ad;

$green_container: #035233;

$green_source: #a6e3a1;

$green_value: #a6e3a1;

$inverse_on_surface: #2f3036;

$inverse_primary: #4c5c92;

$inverse_surface: #e3e2e9;

$on_background: #e3e2e9;

$on_blue: #122f60;

$on_blue_container: #d8e2ff;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_green: #003822;

$on_green_container: #acf2c8;

$on_orange: #55200d;

$on_orange_container: #ffdbd0;

$on_primary: #1b2d61;

$on_primary_container: #dbe1ff;

$on_primary_fixed: #01174b;

$on_primary_fixed_variant: #334479;

$on_purple: #30285f;

$on_purple_container: #e5deff;

$on_red: #511d3d;

$on_red_container: #ffd8ea;

$on_secondary: #2b3042;

$on_secondary_container: #dde1f9;

$on_secondary_fixed: #161b2c;

$on_secondary_fixed_variant: #414659;

$on_surface: #e3e2e9;

$on_surface_variant: #c6c6d0;

$on_tertiary: #422740;

$on_tertiary_container: #ffd6f7;

$on_tertiary_fixed: #2b122a;

$on_tertiary_fixed_variant: #5b3d58;

$on_yellow: #452b00;

$on_yellow_container: #ffddb3;

$orange: #ffb59d;

$orange_container: #723520;

$orange_source: #fab387;

$orange_value: #fab387;

$outline: #8f909a;

$outline_variant: #45464f;

$primary: #b5c4ff;

$primary_container: #334479;

$primary_fixed: #dbe1ff;

$primary_fixed_dim: #b5c4ff;

$purple: #c9bfff;

$purple_container: #473f77;

$purple_source: #cba6f7;

$purple_value: #cba6f7;

$red: #fbb0d8;

$red_container: #6c3455;

$red_source: #f38ba8;

$red_value: #f38ba8;

$scrim: #000000;

$secondary: #c1c5dd;

$secondary_container: #414659;

$secondary_fixed: #dde1f9;

$secondary_fixed_dim: #c1c5dd;

$shadow: #000000;

$source_color: #2a3760;

$surface: #121318;

$surface_bright: #38393f;

$surface_container: #1e1f25;

$surface_container_high: #292a2f;

$surface_container_highest: #34343a;

$surface_container_low: #1a1b21;

$surface_container_lowest: #0d0e13;

$surface_dim: #121318;

$surface_tint: #b5c4ff;

$surface_variant: #45464f;

$tertiary: #e2bbdb;

$tertiary_container: #5b3d58;

$tertiary_fixed: #ffd6f7;

$tertiary_fixed_dim: #e2bbdb;

$yellow: #f5bd6f;

$yellow_container: #633f00;

$yellow_source: #f9e2af;

$yellow_value: #f9e2af;



$theme: 'dark';
// $surface_transparent: color.scale($surface, $alpha: -20%);
$surface_transparent: $surface;
$inverse_surface_transparent: color.scale($inverse_surface, $alpha: -92%);
$inverse_surface_transparent_variant: color.scale(
  $inverse_surface,
  $alpha: -82%
);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
