@use "sass:color";

$background: #1a1111;

$blue: #b8c4ff;

$blue_container: #374379;

$blue_source: #89b4fa;

$blue_value: #89b4fa;

$error: #ffb4ab;

$error_container: #93000a;

$green: #b1d18a;

$green_container: #354e16;

$green_source: #a6e3a1;

$green_value: #a6e3a1;

$inverse_on_surface: #382e2e;

$inverse_primary: #8f4a4b;

$inverse_surface: #f0dede;

$on_background: #f0dede;

$on_blue: #1f2c61;

$on_blue_container: #dde1ff;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_green: #1f3701;

$on_green_container: #cdeda3;

$on_orange: #55200d;

$on_orange_container: #ffdbd0;

$on_primary: #561d20;

$on_primary_container: #ffdad9;

$on_primary_fixed: #3b080d;

$on_primary_fixed_variant: #733335;

$on_purple: #462152;

$on_purple_container: #fad7ff;

$on_red: #561d28;

$on_red_container: #ffd9dd;

$on_secondary: #442929;

$on_secondary_container: #ffdad9;

$on_secondary_fixed: #2c1515;

$on_secondary_fixed_variant: #5d3f3f;

$on_surface: #f0dede;

$on_surface_variant: #d7c1c1;

$on_tertiary: #422c05;

$on_tertiary_container: #ffdeae;

$on_tertiary_fixed: #281800;

$on_tertiary_fixed_variant: #5b421a;

$on_yellow: #452b00;

$on_yellow_container: #ffddb3;

$orange: #ffb59d;

$orange_container: #723520;

$orange_source: #fab387;

$orange_value: #fab387;

$outline: #a08c8c;

$outline_variant: #524343;

$primary: #ffb3b3;

$primary_container: #733335;

$primary_fixed: #ffdad9;

$primary_fixed_dim: #ffb3b3;

$purple: #e6b6f1;

$purple_container: #5e386a;

$purple_source: #cba6f7;

$purple_value: #cba6f7;

$red: #ffb2bb;

$red_container: #72333d;

$red_source: #f38ba8;

$red_value: #f38ba8;

$scrim: #000000;

$secondary: #e6bdbc;

$secondary_container: #5d3f3f;

$secondary_fixed: #ffdad9;

$secondary_fixed_dim: #e6bdbc;

$shadow: #000000;

$source_color: #cf1637;

$surface: #1a1111;

$surface_bright: #423736;

$surface_container: #271d1d;

$surface_container_high: #322827;

$surface_container_highest: #3d3232;

$surface_container_low: #221919;

$surface_container_lowest: #140c0c;

$surface_dim: #1a1111;

$surface_tint: #ffb3b3;

$surface_variant: #524343;

$tertiary: #e5c18d;

$tertiary_container: #5b421a;

$tertiary_fixed: #ffdeae;

$tertiary_fixed_dim: #e5c18d;

$yellow: #f5bd6f;

$yellow_container: #633f00;

$yellow_source: #f9e2af;

$yellow_value: #f9e2af;



$theme: 'dark';
$surface_transparent: color.scale($surface, $alpha: -20%);
// $surface_transparent: $surface;
$inverse_surface_transparent: color.scale($inverse_surface, $alpha: -92%);
$inverse_surface_transparent_variant: color.scale(
  $inverse_surface,
  $alpha: -82%
);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
